# General Settings
ENV=development
PROJECT_NAME="KPIs-Servicios"
LOG_LEVEL=INFO

# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kpis_servicios
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
